In [88]:
pessoas = spark.read.json(path='/base/pessoas.json')

In [89]:
pessoas

DataFrame[age: bigint, id: bigint, name: string]

In [90]:
desc = pessoas.describe()

In [91]:
nomes = pessoas.select("name")

In [92]:
nomes

DataFrame[name: string]

In [93]:
pessoas

DataFrame[age: bigint, id: bigint, name: string]

In [94]:
df_join = pessoas.join(nomes,pessoas.name == nomes.name)

In [96]:
df_join.show()

+---+---+-------------+-------------+
|age| id|         name|         name|
+---+---+-------------+-------------+
| 28|  1|       Helena|       Helena|
| 44|  2|       Miguel|       Miguel|
| 97|  3|        Alice|        Alice|
| 28|  4|        Laura|        Laura|
| 94|  5|      Manuela|      Manuela|
| 71|  6|    Valentina|    Valentina|
| 48|  7|       Sophia|       Sophia|
| 98|  8|     Isabella|     Isabella|
| 60|  9|      Heloísa|      Heloísa|
| 46| 10|        Luiza|        Luiza|
| 47| 11|        Júlia|        Júlia|
| 35| 12|       Lorena|       Lorena|
| 32| 13|        Lívia|        Lívia|
| 90| 14|  Maria Luiza|  Maria Luiza|
| 88| 15|      Cecília|      Cecília|
| 36| 16|         Eloá|         Eloá|
| 57| 17|     Giovanna|     Giovanna|
| 75| 18|  Maria Clara|  Maria Clara|
| 97| 19|Maria Eduarda|Maria Eduarda|
| 65| 20|      Mariana|      Mariana|
+---+---+-------------+-------------+
only showing top 20 rows

In [97]:
df_join.cache()

DataFrame[age: bigint, id: bigint, name: string, name: string]

In [99]:
df_join.show()

+---+---+-------------+-------------+
|age| id|         name|         name|
+---+---+-------------+-------------+
| 28|  1|       Helena|       Helena|
| 44|  2|       Miguel|       Miguel|
| 97|  3|        Alice|        Alice|
| 28|  4|        Laura|        Laura|
| 94|  5|      Manuela|      Manuela|
| 71|  6|    Valentina|    Valentina|
| 48|  7|       Sophia|       Sophia|
| 98|  8|     Isabella|     Isabella|
| 60|  9|      Heloísa|      Heloísa|
| 46| 10|        Luiza|        Luiza|
| 47| 11|        Júlia|        Júlia|
| 35| 12|       Lorena|       Lorena|
| 32| 13|        Lívia|        Lívia|
| 90| 14|  Maria Luiza|  Maria Luiza|
| 88| 15|      Cecília|      Cecília|
| 36| 16|         Eloá|         Eloá|
| 57| 17|     Giovanna|     Giovanna|
| 75| 18|  Maria Clara|  Maria Clara|
| 97| 19|Maria Eduarda|Maria Eduarda|
| 65| 20|      Mariana|      Mariana|
+---+---+-------------+-------------+
only showing top 20 rows

In [60]:
nomes

DataFrame[name: string]

In [61]:
df_join

DataFrame[age: bigint, id: bigint, name: string, name: string]

In [74]:
pessoas.where(pessoas.age > 18).select("name").orderBy('name').show(5)

+---------+
|     name|
+---------+
|   Agatha|
|    Alice|
|   Alícia|
|Ana Clara|
|Ana Júlia|
+---------+
only showing top 5 rows

In [68]:
pessoas.registerTempTable('tab')

In [75]:
spark.sql('select name from tab where age > 18 order by name').show(5)

+---------+
|     name|
+---------+
|   Agatha|
|    Alice|
|   Alícia|
|Ana Clara|
|Ana Júlia|
+---------+
only showing top 5 rows

In [82]:
spark.sql('select count(*) from aula.employees').show()

+--------+
|count(1)|
+--------+
|  600050|
+--------+

In [7]:
base = spark.read.csv("/base/base.csv",header=True)

In [8]:
type(base)

pyspark.sql.dataframe.DataFrame

In [9]:
base.show()

+-------+----+---------+
|usuario|item|avaliacao|
+-------+----+---------+
|    109|   9|        3|
|    174| 412|        1|
|      7| 208|        5|
|    371|  97|        5|
|    296| 255|        2|
|    280|  82|        2|
|    271| 275|        4|
|    110| 791|        2|
|     59| 926|        1|
|    217| 576|        1|
|    145| 665|        5|
|    334| 204|        4|
|     42| 568|        4|
|    200| 143|        5|
|     89| 387|        5|
|    311| 588|        4|
|    235| 269|        4|
|    287| 156|        5|
|    344| 204|        4|
|     43| 289|        4|
+-------+----+---------+
only showing top 20 rows

In [11]:
results = spark.read.csv("/base/results.csv",header=True)

In [12]:
results.show()

+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|      date|       home_team|away_team|home_score|away_score|tournament|     city|            country|neutral|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|1872-11-30|        Scotland|  England|         0|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1873-03-08|         England| Scotland|         4|         2|  Friendly|   London|            England|  FALSE|
|1874-03-07|        Scotland|  England|         2|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1875-03-06|         England| Scotland|         2|         2|  Friendly|   London|            England|  FALSE|
|1876-03-04|        Scotland|  England|         3|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1876-03-25|        Scotland|    Wales|         4|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1877-03-03|         England| Scotland|         1|         3|  Friendly|   London|            England|  FALSE|
|1877-03-05|           Wales| Scotland|         0|         2|  Friendly|  Wrexham|              Wales|  FALSE|
|1878-03-02|        Scotland|  England|         7|         2|  Friendly|  Glasgow|           Scotland|  FALSE|
|1878-03-23|        Scotland|    Wales|         9|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1879-01-18|         England|    Wales|         2|         1|  Friendly|   London|            England|  FALSE|
|1879-04-05|         England| Scotland|         5|         4|  Friendly|   London|            England|  FALSE|
|1879-04-07|           Wales| Scotland|         0|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-13|        Scotland|  England|         5|         4|  Friendly|  Glasgow|           Scotland|  FALSE|
|1880-03-15|           Wales|  England|         2|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-27|        Scotland|    Wales|         5|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1881-02-26|         England|    Wales|         0|         1|  Friendly|Blackburn|            England|  FALSE|
|1881-03-12|         England| Scotland|         1|         6|  Friendly|   London|            England|  FALSE|
|1881-03-14|           Wales| Scotland|         1|         5|  Friendly|  Wrexham|              Wales|  FALSE|
|1882-02-18|Northern Ireland|  England|         0|        13|  Friendly|  Belfast|Republic of Ireland|  FALSE|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
only showing top 20 rows

In [13]:
results.count()

40839

In [16]:
results.describe().show()

+-------+----------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+-------+
|summary|      date|    home_team|    away_team|        home_score|        away_score|     tournament|               city|    country|neutral|
+-------+----------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+-------+
|  count|     40839|        40839|        40839|             40839|             40839|          40839|              40839|      40839|  40839|
|   mean|      null|         null|         null|1.7457087587844953| 1.188104507945836|           null|               null|       null|   null|
| stddev|      null|         null|         null| 1.749144918253105|1.4051198000976632|           null|               null|       null|   null|
|    min|1872-11-30|     Abkhazia|     Abkhazia|                 0|                 0|ABCS Tournament|6th of October City|Afghanistan|  FALSE|
|    max|2019-07-20|Åland Islands|Åland Islands|                 9|                 9|World Unity Cup|             ‘Atele|       Éire|   TRUE|
+-------+----------+-------------+-------------+------------------+------------------+---------------+-------------------+-----------+-------+

In [17]:
results.show()

+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|      date|       home_team|away_team|home_score|away_score|tournament|     city|            country|neutral|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|1872-11-30|        Scotland|  England|         0|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1873-03-08|         England| Scotland|         4|         2|  Friendly|   London|            England|  FALSE|
|1874-03-07|        Scotland|  England|         2|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1875-03-06|         England| Scotland|         2|         2|  Friendly|   London|            England|  FALSE|
|1876-03-04|        Scotland|  England|         3|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1876-03-25|        Scotland|    Wales|         4|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1877-03-03|         England| Scotland|         1|         3|  Friendly|   London|            England|  FALSE|
|1877-03-05|           Wales| Scotland|         0|         2|  Friendly|  Wrexham|              Wales|  FALSE|
|1878-03-02|        Scotland|  England|         7|         2|  Friendly|  Glasgow|           Scotland|  FALSE|
|1878-03-23|        Scotland|    Wales|         9|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1879-01-18|         England|    Wales|         2|         1|  Friendly|   London|            England|  FALSE|
|1879-04-05|         England| Scotland|         5|         4|  Friendly|   London|            England|  FALSE|
|1879-04-07|           Wales| Scotland|         0|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-13|        Scotland|  England|         5|         4|  Friendly|  Glasgow|           Scotland|  FALSE|
|1880-03-15|           Wales|  England|         2|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-27|        Scotland|    Wales|         5|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1881-02-26|         England|    Wales|         0|         1|  Friendly|Blackburn|            England|  FALSE|
|1881-03-12|         England| Scotland|         1|         6|  Friendly|   London|            England|  FALSE|
|1881-03-14|           Wales| Scotland|         1|         5|  Friendly|  Wrexham|              Wales|  FALSE|
|1882-02-18|Northern Ireland|  England|         0|        13|  Friendly|  Belfast|Republic of Ireland|  FALSE|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
only showing top 20 rows

In [19]:
results.filter(results.home_team == 'Brazil').show()

+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
|      date|home_team|away_team|home_score|away_score|  tournament|          city|  country|neutral|
+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
|1916-07-08|   Brazil|    Chile|         1|         1|Copa América|  Buenos Aires|Argentina|   TRUE|
|1916-07-12|   Brazil|  Uruguay|         1|         2|Copa América|  Buenos Aires|Argentina|   TRUE|
|1917-10-12|   Brazil|    Chile|         5|         0|Copa América|    Montevideo|  Uruguay|   TRUE|
|1919-05-11|   Brazil|    Chile|         6|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-18|   Brazil|Argentina|         3|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-26|   Brazil|  Uruguay|         2|         2|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-29|   Brazil|  Uruguay|         1|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-06-01|   Brazil|Argentina|         3|         3|    Friendly|Rio de Janeiro|   Brazil|  FALSE|
|1920-09-18|   Brazil|  Uruguay|         0|         6|Copa América|  Viña del Mar|    Chile|   TRUE|
|1921-10-12|   Brazil| Paraguay|         3|         0|Copa América|  Buenos Aires|Argentina|   TRUE|
|1921-10-23|   Brazil|  Uruguay|         1|         2|Copa América|  Buenos Aires|Argentina|   TRUE|
|1922-09-17|   Brazil|    Chile|         1|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-09-24|   Brazil| Paraguay|         1|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-01|   Brazil|  Uruguay|         0|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-15|   Brazil|Argentina|         2|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil| Paraguay|         3|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil|Argentina|         2|         1|   Copa Roca|     São Paulo|   Brazil|  FALSE|
|1922-10-29|   Brazil| Paraguay|         3|         1|    Friendly|     São Paulo|   Brazil|  FALSE|
|1923-11-11|   Brazil| Paraguay|         0|         1|Copa América|    Montevideo|  Uruguay|   TRUE|
|1923-11-22|   Brazil| Paraguay|         2|         0|    Friendly|    Montevideo|  Uruguay|   TRUE|
+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
only showing top 20 rows

In [21]:
results.filter(results.home_team == 'Brazil').filter(results.home_score > results.away_score).show()

+----------+---------+-------------+----------+----------+---------------+--------------+---------+-------+
|      date|home_team|    away_team|home_score|away_score|     tournament|          city|  country|neutral|
+----------+---------+-------------+----------+----------+---------------+--------------+---------+-------+
|1917-10-12|   Brazil|        Chile|         5|         0|   Copa América|    Montevideo|  Uruguay|   TRUE|
|1919-05-11|   Brazil|        Chile|         6|         0|   Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-18|   Brazil|    Argentina|         3|         1|   Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-29|   Brazil|      Uruguay|         1|         0|   Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1921-10-12|   Brazil|     Paraguay|         3|         0|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1922-10-15|   Brazil|    Argentina|         2|         0|   Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil|     Paraguay|         3|         0|   Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil|    Argentina|         2|         1|      Copa Roca|     São Paulo|   Brazil|  FALSE|
|1922-10-29|   Brazil|     Paraguay|         3|         1|       Friendly|     São Paulo|   Brazil|  FALSE|
|1923-11-22|   Brazil|     Paraguay|         2|         0|       Friendly|    Montevideo|  Uruguay|   TRUE|
|1925-12-06|   Brazil|     Paraguay|         5|         2|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1925-12-17|   Brazil|     Paraguay|         3|         1|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1930-08-01|   Brazil|       France|         3|         2|       Friendly|Rio de Janeiro|   Brazil|  FALSE|
|1930-08-10|   Brazil|   Yugoslavia|         4|         1|       Friendly|Rio de Janeiro|   Brazil|  FALSE|
|1930-08-17|   Brazil|United States|         4|         3|       Friendly|Rio de Janeiro|   Brazil|  FALSE|
|1931-09-06|   Brazil|      Uruguay|         2|         0|Copa Rio Branco|Rio de Janeiro|   Brazil|  FALSE|
|1936-12-27|   Brazil|         Peru|         3|         2|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1937-01-03|   Brazil|        Chile|         6|         4|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1937-01-13|   Brazil|     Paraguay|         5|         0|   Copa América|  Buenos Aires|Argentina|   TRUE|
|1937-01-19|   Brazil|      Uruguay|         3|         2|   Copa América|  Buenos Aires|Argentina|   TRUE|
+----------+---------+-------------+----------+----------+---------------+--------------+---------+-------+
only showing top 20 rows

In [27]:
results.filter(results.home_team == 'Brazil') \
    .filter(results.home_score > results.away_score) \
    .select(results.tournament).distinct().orderBy('tournament').show()

+--------------------+
|          tournament|
+--------------------+
|        Atlantic Cup|
|Brazil Independen...|
|  Confederations Cup|
|        Copa América|
|Copa Bernardo O'H...|
|   Copa Oswaldo Cruz|
|     Copa Rio Branco|
|           Copa Roca|
|      FIFA World Cup|
|FIFA World Cup qu...|
|            Friendly|
|            Gold Cup|
|          Mundialito|
|Pan American Cham...|
+--------------------+

In [45]:
derrotas_brasil = results.where(results.country == 'Brazil') \
    .where(results.home_team == 'Brazil') \
    .where(results.home_score < results.away_score) \
    .orderBy('away_score',ascending=False)

In [49]:
derrotas_brasil = derrotas_brasil.select('date','home_team','away_team','home_score','away_score','tournament','city','country')

In [50]:
derrotas_brasil.show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
only showing top 20 rows

In [55]:
derrotas_brasil.repartition(1).write.csv('/base/analise/derrotas_brasil',mode='overwrite',header=True)

In [56]:
results.registerTempTable('partidas')

In [57]:
spark.sql('select * from partidas').show()

+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|      date|       home_team|away_team|home_score|away_score|tournament|     city|            country|neutral|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|1872-11-30|        Scotland|  England|         0|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1873-03-08|         England| Scotland|         4|         2|  Friendly|   London|            England|  FALSE|
|1874-03-07|        Scotland|  England|         2|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1875-03-06|         England| Scotland|         2|         2|  Friendly|   London|            England|  FALSE|
|1876-03-04|        Scotland|  England|         3|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1876-03-25|        Scotland|    Wales|         4|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1877-03-03|         England| Scotland|         1|         3|  Friendly|   London|            England|  FALSE|
|1877-03-05|           Wales| Scotland|         0|         2|  Friendly|  Wrexham|              Wales|  FALSE|
|1878-03-02|        Scotland|  England|         7|         2|  Friendly|  Glasgow|           Scotland|  FALSE|
|1878-03-23|        Scotland|    Wales|         9|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1879-01-18|         England|    Wales|         2|         1|  Friendly|   London|            England|  FALSE|
|1879-04-05|         England| Scotland|         5|         4|  Friendly|   London|            England|  FALSE|
|1879-04-07|           Wales| Scotland|         0|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-13|        Scotland|  England|         5|         4|  Friendly|  Glasgow|           Scotland|  FALSE|
|1880-03-15|           Wales|  England|         2|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-27|        Scotland|    Wales|         5|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1881-02-26|         England|    Wales|         0|         1|  Friendly|Blackburn|            England|  FALSE|
|1881-03-12|         England| Scotland|         1|         6|  Friendly|   London|            England|  FALSE|
|1881-03-14|           Wales| Scotland|         1|         5|  Friendly|  Wrexham|              Wales|  FALSE|
|1882-02-18|Northern Ireland|  England|         0|        13|  Friendly|  Belfast|Republic of Ireland|  FALSE|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
only showing top 20 rows

In [58]:
spark.sql('select * from partidas where home_team = "Brazil"').show()

+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
|      date|home_team|away_team|home_score|away_score|  tournament|          city|  country|neutral|
+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
|1916-07-08|   Brazil|    Chile|         1|         1|Copa América|  Buenos Aires|Argentina|   TRUE|
|1916-07-12|   Brazil|  Uruguay|         1|         2|Copa América|  Buenos Aires|Argentina|   TRUE|
|1917-10-12|   Brazil|    Chile|         5|         0|Copa América|    Montevideo|  Uruguay|   TRUE|
|1919-05-11|   Brazil|    Chile|         6|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-18|   Brazil|Argentina|         3|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-26|   Brazil|  Uruguay|         2|         2|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-05-29|   Brazil|  Uruguay|         1|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1919-06-01|   Brazil|Argentina|         3|         3|    Friendly|Rio de Janeiro|   Brazil|  FALSE|
|1920-09-18|   Brazil|  Uruguay|         0|         6|Copa América|  Viña del Mar|    Chile|   TRUE|
|1921-10-12|   Brazil| Paraguay|         3|         0|Copa América|  Buenos Aires|Argentina|   TRUE|
|1921-10-23|   Brazil|  Uruguay|         1|         2|Copa América|  Buenos Aires|Argentina|   TRUE|
|1922-09-17|   Brazil|    Chile|         1|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-09-24|   Brazil| Paraguay|         1|         1|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-01|   Brazil|  Uruguay|         0|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-15|   Brazil|Argentina|         2|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil| Paraguay|         3|         0|Copa América|Rio de Janeiro|   Brazil|  FALSE|
|1922-10-22|   Brazil|Argentina|         2|         1|   Copa Roca|     São Paulo|   Brazil|  FALSE|
|1922-10-29|   Brazil| Paraguay|         3|         1|    Friendly|     São Paulo|   Brazil|  FALSE|
|1923-11-11|   Brazil| Paraguay|         0|         1|Copa América|    Montevideo|  Uruguay|   TRUE|
|1923-11-22|   Brazil| Paraguay|         2|         0|    Friendly|    Montevideo|  Uruguay|   TRUE|
+----------+---------+---------+----------+----------+------------+--------------+---------+-------+
only showing top 20 rows

In [63]:
spark.sql('select * \
          from partidas \
          where home_team = "Brazil" and away_score > home_score and country = "Brazil"\
          order by away_score desc').show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|neutral|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|  FALSE|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|  FALSE|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|  FALSE|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|  FALSE|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|  FALSE|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|  FALSE|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|  FALSE|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|  FALSE|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|  FALSE|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|  FALSE|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|  FALSE|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
only showing top 20 rows

In [64]:
results.where(results.country == 'Brazil') \
    .where(results.home_team == 'Brazil') \
    .where(results.home_score < results.away_score) \
    .orderBy('away_score',ascending=False).show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|neutral|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|  FALSE|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|  FALSE|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|  FALSE|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|  FALSE|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|  FALSE|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|  FALSE|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|  FALSE|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|  FALSE|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|  FALSE|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|  FALSE|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|  FALSE|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
only showing top 20 rows

In [65]:
derrotas_sql = spark.sql('select * \
          from partidas \
          where home_team = "Brazil" and away_score > home_score and country = "Brazil"\
          order by away_score desc')

In [66]:
derrotas_sql.show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|neutral|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|  FALSE|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|  FALSE|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|  FALSE|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|  FALSE|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|  FALSE|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|  FALSE|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|  FALSE|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|  FALSE|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|  FALSE|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|  FALSE|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|  FALSE|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|  FALSE|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|  FALSE|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|  FALSE|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+-------+
only showing top 20 rows

In [67]:
derrotas_sql.repartition(1).write.json('/base/analise/derrotas_sql')

In [71]:
spark.sql('select count(*) as total,country from partidas group by country order by total desc').show()

+-----+--------------------+
|total|             country|
+-----+--------------------+
| 1144|       United States|
|  801|              France|
|  687|             England|
|  644|            Malaysia|
|  637|              Sweden|
|  581|             Germany|
|  529|              Brazil|
|  517|               Spain|
|  483|            Thailand|
|  480|               Italy|
|  477|         Switzerland|
|  475|             Austria|
|  472|United Arab Emirates|
|  470|        South Africa|
|  467|               Qatar|
|  453|         South Korea|
|  449|           Argentina|
|  431|             Hungary|
|  405|               Chile|
|  396|             Belgium|
+-----+--------------------+
only showing top 20 rows

In [79]:
spark.sql('select count(*) as total,times from (select home_team as times from partidas union all select away_team from partidas) as t group by times order by total desc').show()

+-----+-----------+
|total|      times|
+-----+-----------+
| 1010|     Sweden|
|  994|    England|
|  977|     Brazil|
|  975|  Argentina|
|  942|    Germany|
|  922|    Hungary|
|  878|    Uruguay|
|  862|     Mexico|
|  853|South Korea|
|  834|     France|
|  809|     Poland|
|  798|     Norway|
|  795|      Italy|
|  791|Switzerland|
|  789|    Denmark|
|  778|Netherlands|
|  772|    Austria|
|  771|   Scotland|
|  762|    Belgium|
|  756|      Chile|
+-----+-----------+
only showing top 20 rows

In [81]:
derrotas_brasil.repartition(1).write.csv('hdfs:/base/analise/derrotas_brasil',mode='overwrite',header=True)

In [82]:
derrotas_brasil.repartition(1).write.csv('file:/',mode='overwrite',header=True)

In [84]:
derrotas_brasil.repartition(1).write.parquet('/base/analise/parquet',mode='overwrite')

In [87]:
json = spark.read.json('/base/analise/derrotas_sql')

In [88]:
json.show()

+----------+--------------+--------------+-------+----------+----------+---------+-------+---------------+
|away_score|     away_team|          city|country|      date|home_score|home_team|neutral|     tournament|
+----------+--------------+--------------+-------+----------+----------+---------+-------+---------------+
|         7|       Germany|Belo Horizonte| Brazil|2014-07-08|         1|   Brazil|  FALSE| FIFA World Cup|
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|  FALSE|      Copa Roca|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|  FALSE|Copa Rio Branco|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|  FALSE|      Copa Roca|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|  FALSE|Copa Rio Branco|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|  FALSE|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|  FALSE|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1964-06-03|         0|   Brazil|  FALSE|       Friendly|
|         3|          Peru|Belo Horizonte| Brazil|1975-09-30|         1|   Brazil|  FALSE|   Copa América|
|         3|   Netherlands|      Brasília| Brazil|2014-07-12|         0|   Brazil|  FALSE| FIFA World Cup|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|  FALSE|   Copa América|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil|  FALSE| FIFA World Cup|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|  FALSE|      Copa Roca|
|         2|        Mexico|Rio de Janeiro| Brazil|1968-10-31|         1|   Brazil|  FALSE|       Friendly|
|         2|     Argentina|  Porto Alegre| Brazil|1970-03-04|         0|   Brazil|  FALSE|       Friendly|
|         2|        Russia|Rio de Janeiro| Brazil|1980-06-15|         1|   Brazil|  FALSE|       Friendly|
|         2|       England|Rio de Janeiro| Brazil|1984-06-10|         0|   Brazil|  FALSE|       Friendly|
|         2|       Uruguay|Campina Grande| Brazil|1992-11-25|         1|   Brazil|  FALSE|       Friendly|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|  FALSE|       Friendly|
|         1|          Peru|      Brasília| Brazil|1985-04-28|         0|   Brazil|  FALSE|       Friendly|
+----------+--------------+--------------+-------+----------+----------+---------+-------+---------------+
only showing top 20 rows

In [89]:
parquet = spark.read.parquet('/base/analise/parquet')

In [90]:
parquet.show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
only showing top 20 rows

In [93]:
parquet.show()

+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|      date|home_team|     away_team|home_score|away_score|     tournament|          city|country|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
|2014-07-08|   Brazil|       Germany|         1|         7| FIFA World Cup|Belo Horizonte| Brazil|
|1939-01-15|   Brazil|     Argentina|         1|         5|      Copa Roca|Rio de Janeiro| Brazil|
|1940-03-24|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|Rio de Janeiro| Brazil|
|1945-12-16|   Brazil|     Argentina|         3|         4|      Copa Roca|     São Paulo| Brazil|
|1950-05-06|   Brazil|       Uruguay|         3|         4|Copa Rio Branco|     São Paulo| Brazil|
|1940-02-25|   Brazil|     Argentina|         0|         3|      Copa Roca|     São Paulo| Brazil|
|1963-04-13|   Brazil|     Argentina|         2|         3|      Copa Roca|     São Paulo| Brazil|
|1964-06-03|   Brazil|     Argentina|         0|         3|       Friendly|     São Paulo| Brazil|
|1975-09-30|   Brazil|          Peru|         1|         3|   Copa América|Belo Horizonte| Brazil|
|2014-07-12|   Brazil|   Netherlands|         0|         3| FIFA World Cup|      Brasília| Brazil|
|1949-05-08|   Brazil|      Paraguay|         1|         2|   Copa América|Rio de Janeiro| Brazil|
|1950-07-16|   Brazil|       Uruguay|         1|         2| FIFA World Cup|Rio de Janeiro| Brazil|
|1957-07-07|   Brazil|     Argentina|         1|         2|      Copa Roca|Rio de Janeiro| Brazil|
|1968-10-31|   Brazil|        Mexico|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1970-03-04|   Brazil|     Argentina|         0|         2|       Friendly|  Porto Alegre| Brazil|
|1980-06-15|   Brazil|        Russia|         1|         2|       Friendly|Rio de Janeiro| Brazil|
|1984-06-10|   Brazil|       England|         0|         2|       Friendly|Rio de Janeiro| Brazil|
|1992-11-25|   Brazil|       Uruguay|         1|         2|       Friendly|Campina Grande| Brazil|
|1956-08-05|   Brazil|Czechoslovakia|         0|         1|       Friendly|Rio de Janeiro| Brazil|
|1985-04-28|   Brazil|          Peru|         0|         1|       Friendly|      Brasília| Brazil|
+----------+---------+--------------+----------+----------+---------------+--------------+-------+
only showing top 20 rows

In [106]:
json = json.select('away_score','away_team','city','country','date','home_score','home_team','tournament')

In [107]:
parquet = parquet.select('away_score','away_team','city','country','date','home_score','home_team','tournament')

In [108]:
all = parquet.unionAll(json)

In [109]:
all.orderBy('date').show()

+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|away_score|     away_team|          city|country|      date|home_score|home_team|     tournament|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|      Copa Roca|
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|      Copa Roca|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|Copa Rio Branco|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|Copa Rio Branco|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|      Copa Roca|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|      Copa Roca|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|   Copa América|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|   Copa América|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|Copa Rio Branco|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|Copa Rio Branco|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil| FIFA World Cup|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil| FIFA World Cup|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|       Friendly|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|       Friendly|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|      Copa Roca|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|      Copa Roca|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
only showing top 20 rows

In [110]:
all.count()

44

In [111]:
all_sem_duplicado = all.dropDuplicates()

In [112]:
all_sem_duplicado.count()

22

In [114]:
all_sem_duplicado.orderBy('date').show()

+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|away_score|     away_team|          city|country|      date|home_score|home_team|     tournament|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|      Copa Roca|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|Copa Rio Branco|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|      Copa Roca|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|   Copa América|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|Copa Rio Branco|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil| FIFA World Cup|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|       Friendly|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1964-06-03|         0|   Brazil|       Friendly|
|         2|        Mexico|Rio de Janeiro| Brazil|1968-10-31|         1|   Brazil|       Friendly|
|         2|     Argentina|  Porto Alegre| Brazil|1970-03-04|         0|   Brazil|       Friendly|
|         3|          Peru|Belo Horizonte| Brazil|1975-09-30|         1|   Brazil|   Copa América|
|         2|        Russia|Rio de Janeiro| Brazil|1980-06-15|         1|   Brazil|       Friendly|
|         2|       England|Rio de Janeiro| Brazil|1984-06-10|         0|   Brazil|       Friendly|
|         1|          Peru|      Brasília| Brazil|1985-04-28|         0|   Brazil|       Friendly|
|         2|       Uruguay|Campina Grande| Brazil|1992-11-25|         1|   Brazil|       Friendly|
|         1|     Argentina|Rio de Janeiro| Brazil|1998-04-29|         0|   Brazil|       Friendly|
|         1|      Paraguay|     Fortaleza| Brazil|2002-08-21|         0|   Brazil|       Friendly|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
only showing top 20 rows

In [115]:
json.registerTempTable('json')

In [116]:
parquet.registerTempTable('parquet')

In [119]:
spark.sql('select * from json union all select * from parquet order by date').show()

+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|away_score|     away_team|          city|country|      date|home_score|home_team|     tournament|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|      Copa Roca|
|         5|     Argentina|Rio de Janeiro| Brazil|1939-01-15|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1940-02-25|         0|   Brazil|      Copa Roca|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|Copa Rio Branco|
|         4|       Uruguay|Rio de Janeiro| Brazil|1940-03-24|         3|   Brazil|Copa Rio Branco|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|      Copa Roca|
|         4|     Argentina|     São Paulo| Brazil|1945-12-16|         3|   Brazil|      Copa Roca|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|   Copa América|
|         2|      Paraguay|Rio de Janeiro| Brazil|1949-05-08|         1|   Brazil|   Copa América|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|Copa Rio Branco|
|         4|       Uruguay|     São Paulo| Brazil|1950-05-06|         3|   Brazil|Copa Rio Branco|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil| FIFA World Cup|
|         2|       Uruguay|Rio de Janeiro| Brazil|1950-07-16|         1|   Brazil| FIFA World Cup|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|       Friendly|
|         1|Czechoslovakia|Rio de Janeiro| Brazil|1956-08-05|         0|   Brazil|       Friendly|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|      Copa Roca|
|         2|     Argentina|Rio de Janeiro| Brazil|1957-07-07|         1|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|      Copa Roca|
|         3|     Argentina|     São Paulo| Brazil|1963-04-13|         2|   Brazil|      Copa Roca|
+----------+--------------+--------------+-------+----------+----------+---------+---------------+
only showing top 20 rows

In [121]:
spark.sql('select json.date,json.city from json inner join parquet on json.date = parquet.date').show()

+----------+--------------+
|      date|          city|
+----------+--------------+
|2014-07-08|Belo Horizonte|
|1939-01-15|Rio de Janeiro|
|1940-03-24|Rio de Janeiro|
|1945-12-16|     São Paulo|
|1950-05-06|     São Paulo|
|1940-02-25|     São Paulo|
|1963-04-13|     São Paulo|
|1964-06-03|     São Paulo|
|1975-09-30|Belo Horizonte|
|2014-07-12|      Brasília|
|1949-05-08|Rio de Janeiro|
|1950-07-16|Rio de Janeiro|
|1957-07-07|Rio de Janeiro|
|1968-10-31|Rio de Janeiro|
|1970-03-04|  Porto Alegre|
|1980-06-15|Rio de Janeiro|
|1984-06-10|Rio de Janeiro|
|1992-11-25|Campina Grande|
|1956-08-05|Rio de Janeiro|
|1985-04-28|      Brasília|
+----------+--------------+
only showing top 20 rows

In [123]:
parquet.join(json,json.date == parquet.date).select(json.date,json.city).show()

+----------+--------------+
|      date|          city|
+----------+--------------+
|2014-07-08|Belo Horizonte|
|1939-01-15|Rio de Janeiro|
|1940-03-24|Rio de Janeiro|
|1945-12-16|     São Paulo|
|1950-05-06|     São Paulo|
|1940-02-25|     São Paulo|
|1963-04-13|     São Paulo|
|1964-06-03|     São Paulo|
|1975-09-30|Belo Horizonte|
|2014-07-12|      Brasília|
|1949-05-08|Rio de Janeiro|
|1950-07-16|Rio de Janeiro|
|1957-07-07|Rio de Janeiro|
|1968-10-31|Rio de Janeiro|
|1970-03-04|  Porto Alegre|
|1980-06-15|Rio de Janeiro|
|1984-06-10|Rio de Janeiro|
|1992-11-25|Campina Grande|
|1956-08-05|Rio de Janeiro|
|1985-04-28|      Brasília|
+----------+--------------+
only showing top 20 rows

In [124]:
import pandas as pd

In [125]:
j = json.toPandas()

In [126]:
type(j)

pandas.core.frame.DataFrame

In [127]:
type(json)

pyspark.sql.dataframe.DataFrame

In [136]:
teste = spark.createDataFrame([(1,'teste'),(2,'teste2')],['id','nome'])

In [137]:
teste.show()

+---+------+
| id|  nome|
+---+------+
|  1| teste|
|  2|teste2|
+---+------+

In [135]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of :class:`Row`,
    or :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
    each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation(e.g. row, tuple, int, boolean,
        etc.), or :class:`list`, or :class:`pandas.DataFrame`.
    :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is ``None``.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`. We can also use
        ``int`` as a short name for ``IntegerType``.
    :param samplingRatio: the sample ratio of rows used for inferring
    :param verifySchema: verify data types of every row against schema.
    :return: :class:`DataFrame`

    .. versionchanged:: 2.1
       Added verifySchema.

    .. note:: Usage with spark.sql.execution.arrow.enabled=True is experimental.

    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 2.0

In [138]:
file = spark.read.csv('/base/teste.csv',header=True)

In [139]:
file.show()

+---+------+
| id|  nome|
+---+------+
|  1| teste|
|  2|teste2|
|  3|teste3|
|  4|teste4|
+---+------+

In [142]:
file.join(teste,teste.id == file.id,how='left').show()

+---+------+----+------+
| id|  nome|  id|  nome|
+---+------+----+------+
|  1| teste|   1| teste|
|  3|teste3|null|  null|
|  2|teste2|   2|teste2|
|  4|teste4|null|  null|
+---+------+----+------+

In [150]:
file.createOrReplaceTempView('file2')

In [151]:
teste.createOrReplaceTempView('teste2')

In [152]:
spark.sql('select * from file2 left join teste2 on teste2.id = file2.id').show()

+---+------+----+------+
| id|  nome|  id|  nome|
+---+------+----+------+
|  1| teste|   1| teste|
|  3|teste3|null|  null|
|  2|teste2|   2|teste2|
|  4|teste4|null|  null|
+---+------+----+------+

In [156]:
spark.sql('show tables from default').show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
| default|covid_countries|      false|
| default|  dados_tratado|      false|
| default|    departments|      false|
| default|departments_new|      false|
| default|     hello_acid|      false|
| default|    resultado22|      false|
| default|     resultado4|      false|
| default|  tabelaexterna|      false|
| default|  tabelaparquet|      false|
| default|  tabela_trans2|      false|
| default|      tablename|      false|
|        |           file|       true|
|        |          file2|       true|
|        |           json|       true|
|        |        parquet|       true|
|        |       partidas|       true|
|        |          teste|       true|
|        |         teste2|       true|
+--------+---------------+-----------+

In [161]:
df_mysql = spark.read \
    .format("jdbc") \
    .option("url","jdbc:mysql://database/employees") \
    .option("driver","com.mysql.jdbc.Driver") \
    .option("dbtable","employees") \
    .option("user","root") \
    .option("password","secret") \
    .load()

In [159]:
df_mysql.show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows

In [162]:
type(df_mysql)

pyspark.sql.dataframe.DataFrame

In [163]:
df_mysql.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hire_date: date (nullable = true)

In [165]:
df_acimade2000 = df_mysql.filter(df_mysql.hire_date > '2000-01-01')

In [168]:
df_acimade2000.write.csv('/base/analise/df_acimade2000')

In [174]:
df_mysql.persist()

DataFrame[emp_no: int, birth_date: date, first_name: string, last_name: string, gender: string, hire_date: date]

In [177]:
df_mysql.unpersist()

DataFrame[emp_no: int, birth_date: date, first_name: string, last_name: string, gender: string, hire_date: date]

In [178]:
df_mysql.write.mode("overwrite").format("hive").saveAsTable("default.funcionario")

In [175]:
df_mysql.count()

300025

In [180]:
df_mysql.write.mode("append").insertInto("default.funcionario")

In [182]:
hive = spark.table("default.funcionario")

In [184]:
hive = spark.sql("select * from default.funcionario")

In [185]:
hive.show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows

In [187]:
df_mysql.join(hive,df_mysql.emp_no == hive.emp_no).show()

+------+----------+----------+---------+------+----------+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+------+----------+----------+---------+------+----------+
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19|
| 10362|1963-09-16|   Shalesh|  dAstous|     M|1988-08-24| 10362|1963-09-16|   Shalesh|  dAstous|     M|1988-08-24|
| 10362|1963-09-16|   Shalesh|  dAstous|     M|1988-08-24| 10362|1963-09-16|   Shalesh|  dAstous|     M|1988-08-24|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07|
| 10817|1958-10-02|       Uri|  Rullman|     F|1990-12-26| 10817|1958-10-02|       Uri|  Rullman|     F|1990-12-26|
| 10817|1958-10-02|       Uri|  Rullman|     F|1990-12-26| 10817|1958-10-02|       Uri|  Rullman|     F|1990-12-26|
| 11033|1957-03-01|   Shushma|     Bahk|     F|1990-10-02| 11033|1957-03-01|   Shushma|     Bahk|     F|1990-10-02|
| 11033|1957-03-01|   Shushma|     Bahk|     F|1990-10-02| 11033|1957-03-01|   Shushma|     Bahk|     F|1990-10-02|
| 11141|1957-08-20|   Vasiliy|Kermarrec|     F|1989-12-28| 11141|1957-08-20|   Vasiliy|Kermarrec|     F|1989-12-28|
| 11141|1957-08-20|   Vasiliy|Kermarrec|     F|1989-12-28| 11141|1957-08-20|   Vasiliy|Kermarrec|     F|1989-12-28|
| 11317|1954-07-24|  Shigeaki| Hagimont|     F|1989-12-21| 11317|1954-07-24|  Shigeaki| Hagimont|     F|1989-12-21|
| 11317|1954-07-24|  Shigeaki| Hagimont|     F|1989-12-21| 11317|1954-07-24|  Shigeaki| Hagimont|     F|1989-12-21|
| 11458|1958-08-09|     Stevo|Chenoweth|     F|1985-10-06| 11458|1958-08-09|     Stevo|Chenoweth|     F|1985-10-06|
| 11458|1958-08-09|     Stevo|Chenoweth|     F|1985-10-06| 11458|1958-08-09|     Stevo|Chenoweth|     F|1985-10-06|
| 11748|1953-03-07|    Lihong| Massonet|     M|1992-12-20| 11748|1953-03-07|    Lihong| Massonet|     M|1992-12-20|
| 11748|1953-03-07|    Lihong| Massonet|     M|1992-12-20| 11748|1953-03-07|    Lihong| Massonet|     M|1992-12-20|
| 11858|1962-11-21|   Slavian|     Baik|     M|1988-11-12| 11858|1962-11-21|   Slavian|     Baik|     M|1988-11-12|
| 11858|1962-11-21|   Slavian|     Baik|     M|1988-11-12| 11858|1962-11-21|   Slavian|     Baik|     M|1988-11-12|
+------+----------+----------+---------+------+----------+------+----------+----------+---------+------+----------+
only showing top 20 rows

In [188]:
df = spark.read.csv("/base/base.csv",header=True)

In [ ]:
df.write.mode("overwrite").format("hive").saveAsTable("default.df_teste")

In [191]:
spark